<!DOCTYPE html>
<html>
  <head>
    <title>RailsDeviseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Rabbit Times</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/hello">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/studies">学習状況</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board_messages">BoardMessages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board_users">BoardUsers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>RubyでRails</h1>
            <span class="subheading">こういうオフィスで仕事がしたい</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
    <%= yield %>
  </body>
</html>
